/* ----- FONTS ----- */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap");

/* ----- CUSTOM COLORS ----- */
:root {
  --black-color: #0d0d0d;
  --grey-light-color: #595959;
  --light-color: #f4f4f4;
  --white-nav-color: #efefef;
  --main-bg-black: 0, 0, 0;
  --main-bg-white: 255, 255, 255;
  --main-bg-rgba: rgba(0, 0, 0, 0.3);
  --offwhite-color: rgb(228, 226, 226);
  --main-color-rgb: rgba(255, 255, 255);
  --main-color-rgba: rgba(255, 255, 255, 0.98);
}

/* ------------------------------------------------------------- */
/*  BASIC SETUP */
/* ------------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html,
body {
  background-color: var(--white);
  font-family: "Lato", -apple-system, "Arial", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* ------------------------------------------------------------- */
/*  REUSABLE COMPONENTS */
/* ------------------------------------------------------------- */

.row {
  margin: 0 auto;
}

.box {
  padding: 1%;
}

/* ----- HEADING ----- */
h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h1 {
  font-size: 240%;
  margin-top: 0;
  margin-bottom: 20px;
  word-spacing: 4px;
}

h1:after {
  display: block;
  height: 2px;
  background-color: var(--grey-light-color);
  content: "";
  width: 100px;
  margin: 0 80px;
  margin-top: 15px;
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
}

h2:after {
  display: block;
  height: 2px;
  background-color: var(--grey-light-color);
  content: "";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

h3 {
  color: var(--black-color);
  font-size: 110%;
  margin-bottom: 15px;
}

/* ----- PARAGRAPHS ----- */
.long-copy {
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
}

.box p {
  color: var(--grey-light-color);
  font-size: 90%;
  line-height: 145%;
}

/* ----- ICONS ----- */
.icon-big {
  color: var(--grey-light-color);
  display: block;
  font-size: 350%;
  margin-bottom: 10px;
}

.icon-small {
  color: var(--grey-light-color);
  display: inline-block;
  font-size: 120%;
  text-align: center;
  width: 30px;
  line-height: 120%;
  vertical-align: middle;
  margin-top: -5px;
  margin-right: 10px;
}

.icon-large {
  font-size: 3em;
}

/* PADDING */
.section-pad-top {
  padding-top: 80px;
}

.section-pad-vertical {
  padding: 80px 0;
}

.font-big {
  font-size: 120%;
}

/* ----- LINKS ----- */
.navbar-nav .active {
  border: 1px solid var(--grey-light-color);
}

.navbar-nav li a:link,
.navbar-nav li a:visited {
  font-size: 90%;
  font-weight: 400;
  padding: 8px 0;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-bottom 0.5s;
  -o-transition: border-bottom 0.5s;
  transition: border-bottom 0.5s;
}

.navbar-nav li a:hover,
.navbar-nav li a:active {
  border-bottom: 2px solid var(--grey-light-color);
  -webkit-transition: border-bottom 0.5s;
  -o-transition: border-bottom 0.5s;
  transition: border-bottom 0.5s;
}

.mk-nav-link:hover,
.mk-nav-link:active {
  color: var(--white);
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: var(--grey-light-color);
}

/* ----- BUTTONS ----- */
.btn {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* ----- LOGO ----- */
.logo {
  /* height: 80px; */
  height: 5rem;
  width: auto;
}

.logo-small {
  display: none;
  /* height: 50px; */
  height: 3.75rem;
  width: auto;
  margin: 5px 0;
}

/* ----- NAVBAR ----- */
.mk-navbar {
  position: absolute;
  width: 100%;
  z-index: 1000;
  background-color: transparent;
  transition: all 0.3s ease;
}

.mk-nav-link {
  color: var(--white);
}

.navbar-toggler {
  color: rgba(var(--main-bg-black), 0.5);
  background-color: rgba(var(--main-bg-black), 0.1);
}

.navbar-toggler:focus,
.navbar-toggler:hover {
  outline: 0;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* ----- Sticky Nav ----- */
.sticky {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--main-color-rgba) !important;
  -webkit-box-shadow: 0 2px 2px var(--white-nav-color);
  box-shadow: 0 2px 2px var(--white-nav-color);
  z-index: 9999;
}

.sticky .mk-navbar {
  margin-top: 18px;
}

.sticky .navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}

.sticky .mk-navbar li a:link,
.sticky .mk-navbar li a:visited {
  color: #555;
  padding: 16px 0;
}

/* ----- CARD ----- */
.card {
  box-shadow: 0 6px 10px rgba(var(--main-bg-black), 0.08),
    0 0 6px rgba(var(--main-bg-black), 0.05);
  transition: color 0.5s, 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  cursor: pointer;
  overflow: hidden;
}

.card:hover {
  box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
  transform: scale(1.05);
  transition: all 0.3s ease;
}

/* ----- BG COLOR ----- */
.bg-offwhite {
  background-color: var(--offwhite-color);
}

.bg-light {
  background-color: var(--light-color) !important;
}

.bg-grey {
  background-color: #8f8f8f;
}

.bg-clouds {
  background-color: #ecf0f1;
}

/* ----- Form Validation ----- */
.error {
  color: var(--danger);
}

/* ------------------------------------------------------------- */
/*  HOME Page */
/* ------------------------------------------------------------- */

/* Sticky Nav */
.sticky .mk-nav-link {
  color: rgba(var(--main-bg-black), 0.9);
}

.sticky .logo {
  display: none;
}

.sticky .logo-small {
  display: block;
}

/* ----- full width slider section ----- */
.carousel-item--one,
.carousel-item--two,
.carousel-item--third,
.carousel-item--four {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  object-fit: cover;
}

.carousel-item--one {
  background-image: linear-gradient(var(--main-bg-rgba), var(--main-bg-rgba)),
    url("img/home/house-with-swimming-pool.jpg");
  background-image: -o-linear-gradient(var(--main-bg-rgba), var(--main-bg-rgba)),
    url("img/home/house-with-swimming-pool.jpg");
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(var(--main-bg-rgba)),
      to(var(--main-bg-rgba))
    ),
    url("img/home/house-with-swimming-pool.jpg");
  /* background-size: 100% 100%; */
}

.carousel-item--two {
  background-image: linear-gradient(var(--main-bg-rgba), var(--main-bg-rgba)),
    url("img/home/house-with-pool-and-fountain.jpg");
  background-image: -o-linear-gradient(var(--main-bg-rgba), var(--main-bg-rgba)),
    url("img/home/house-with-pool-and-fountain.jpg");
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(var(--main-bg-rgba)),
      to(var(--main-bg-rgba))
    ),
    url("img/home/house-with-pool-and-fountain.jpg");
  /* background-size: 100% 100%; */
}

.carousel-item--third {
  background-image: linear-gradient(var(--main-bg-rgba), var(--main-bg-rgba)),
    url("img/home/open-view-lounge-interior.jpg");
  background-image: -o-linear-gradient(var(--main-bg-rgba), var(--main-bg-rgba)),
    url("img/home/open-view-lounge-interior.jpg");
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(var(--main-bg-rgba)),
      to(var(--main-bg-rgba))
    ),
    url("img/home/open-view-lounge-interior.jpg");
  /* background-size: 100% 100%; */
}

.carousel-item--four {
  background-image: linear-gradient(var(--main-bg-rgba), var(--main-bg-rgba)),
    url("img/home/modern-house-with-mountain-view.jpg");
  background-image: -o-linear-gradient(var(--main-bg-rgba), var(--main-bg-rgba)),
    url("img/home/modern-house-with-mountain-view.jpg");
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(var(--main-bg-rgba)),
      to(var(--main-bg-rgba))
    ),
    url("img/home/modern-house-with-mountain-view.jpg");
  /* background-size: 100% 100%; */
}

.carousel-caption {
  object-fit: contain;
}

/* WORK */
.section-work {
  background-color: var(--light-color);
}

/* CLIENT FEEDBACK */
.section-client .carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #34495e;
}

.blockquote {
  font-size: 1.25rem;
  border: none;
  border-left: 0.5rem solid rgba(166, 166, 166, 0.54);
  color: #6c757d;
  font-family: "Open Sans", "Segoe UI", "Roboto";
  font-style: italic;
  line-height: 1.6;
  margin: 1.875rem auto;
  max-width: 60%;
  padding: 4rem 1rem 1rem 4rem;
  position: relative;
  width: 100%;
}

.blockquote:before {
  font-size: 6.875rem;
  color: rgba(166, 166, 166, 0.54);
  content: "\201C";
  font-family: "Noto Serif", "Georgia", "Times New Roman";
  font-size: 5.5rem;
  height: 3.75rem;
  left: 0.9375rem;
  line-height: 1;
  max-width: 3.75rem;
  position: absolute;
  text-align: inherit;
  top: 0.9375rem;
  width: 100%;
}

.blockquote:after {
  content: "";
}

.blockquote-footer {
  font-size: 80%;
  color: #343a40;
  display: block;
  font-style: normal;
  font-weight: 700;
  margin-top: 1rem;
  padding: 0;
}

.blockquote-footer:before {
  content: "\2014\00A0";
}

/* CALL TO ACTION */
.section-action {
  background-image: -o-linear-gradient(
      rgba(var(--main-bg-black), 0.8),
      rgba(var(--main-bg-black), 0.8)
    ),
    url("img/background-home.jpg");
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(var(--main-bg-black), 0.8)),
      to(rgba(var(--main-bg-black), 0.8))
    ),
    url("img/background-home.jpg");
  background-image: linear-gradient(
      rgba(var(--main-bg-black), 0.8),
      rgba(var(--main-bg-black), 0.8)
    ),
    url("img/background-home.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: var(--white);
}

.mk-contact-item {
  margin-bottom: 4.35rem;
}

.mk-contact-item-link {
  display: flex;
  align-items: center;
}

.mk-contact-item-link i,
.mk-contact-item-link span {
  color: white;
  transition: all 0.3s ease;
}

.mk-contact-item-link:hover {
  text-decoration: none;
}

.mk-contact-item-link:hover i,
.mk-contact-item-link:hover span {
  color: var(--gray);
}

/* ------------------------------------------------------------- */
/* PORTFOLIO Page */
/* ------------------------------------------------------------- */

/* Image */
.portfolio__img {
  object-fit: cover;
  /* min-height: 350px; */
}

/* Call to Action on Project Page */
.project__action {
  background-image: -o-linear-gradient(
      rgba(var(--main-bg-black), 0.5),
      rgba(var(--main-bg-black), 0.5)
    ),
    url("img/background-arch.jpg");
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(var(--main-bg-black), 0.5)),
      to(rgba(var(--main-bg-black), 0.5))
    ),
    url("img/background-arch.jpg");
  background-image: linear-gradient(
      rgba(var(--main-bg-black), 0.5),
      rgba(var(--main-bg-black), 0.5)
    ),
    url("img/background-arch.jpg");
  background-size: cover;
  background-position: center;
  color: var(--white);
  text-align: center;
}

.portfolio .card-body {
  padding: 0.5rem 1rem !important;
}

/* ------------------------------------------------------------- */
/*  ABOUT page */
/* ------------------------------------------------------------- */

/* Profile Card */
.profile-card {
  border: none;
  overflow: hidden;
  text-align: center;
  width: 300px;
}

.profile-card:hover {
  cursor: auto;
}

.profile-card .background-block {
  overflow: hidden;
  backface-visibility: hidden;
}

.profile-card .background-block .background {
  width: 100%;
  opacity: 0.9;
  -webkit-filter: blur(0.5px);
  filter: blur(0.5px);
  -webkit-transform: scale(1.8);
  transform: scale(1.8);
}

.profile-card .card-content {
  width: 100%;
  min-height: 200px;
  padding: 15px 25px;
  background: var(--white-nav-color);
  border-radius: 0 0 5px 5px;
  position: relative;
  z-index: 1;
}

.profile-card .card-content::before {
  content: "";
  background: var(--white-nav-color);
  width: 120%;
  height: 100%;
  left: 11px;
  bottom: 45px;
  position: absolute;
  z-index: -1;
  transform: rotate(-13deg);
}

.profile-card .profile {
  border-radius: 50%;
  position: absolute;
  bottom: 50%;
  max-width: 100px;
  box-shadow: 3px 3px 20px rgba(var(--main-bg-black), 0.5);
  border: 2px solid rgba(var(--main-bg-white), 1);
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  z-index: 2;
}

.profile-card h2 {
  margin: 1.5rem 0 5px;
  font-weight: 600;
  font-size: 140%;
}

.profile-card h2:after {
  background-color: transparent;
}

.profile-card h2 small {
  display: block;
  font-size: 14px;
  margin-top: 10px;
}

/* h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
} */

/* h2:after {
  display: block;
  height: 2px;
  background-color: var(--grey-light-color);
  content: "";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
} */

.profile-card i {
  display: inline-block;
  font-size: 16px;
  color: #232323;
  text-align: center;
  border: 1px solid #232323;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  margin: 0 5px;
}

.profile-card .icon-block {
  float: left;
  width: 100%;
  margin-bottom: 15px;
}

/* .profile-card .icon-block:before {
  display: block;
  height: 2px;
  background-color: var(--grey-light-color);
  content: "";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
} */

.profile-card .icon-block a {
  text-decoration: none;
}

.profile-card i:hover {
  color: var(--white);
  text-decoration: none;
}

.ion-social-instagram-outline:hover {
  background-color: rgb(195, 42, 163) !important;
}

.ion-social-google:hover {
  background-color: rgb(66, 133, 244) !important;
}

.ion-social-linkedin-outline:hover {
  background-color: rgb(1, 116, 179) !important;
}

/* ------------------------------------------------------------- */
/*  EXPERTISE page */
/* ------------------------------------------------------------- */

/* Section */
.expectise--section {
  background-color: var(--grey-light-color);
  height: 500px;
  padding: 0;
}

/* Container */
.expectise--container {
  width: 60%;
  margin: auto;
}

.expectise--section img {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  height: 500px;
  width: 100%;
}

.expectise--container > .icon {
  color: #f5f5f5;
  font-size: xxx-large;
}

.expectise--container > h4 {
  line-height: 1.2;
  letter-spacing: -0.01em;
  word-spacing: 0.025em;
}

.expectise--container > a {
  color: #f5f5f5;
}

.interior-design .carousel-inner img {
  height: 440px;
}

/* ------------------------------------------------------------- */
/*  CONTACT page */
/* ------------------------------------------------------------- */

/* Sidemenu */
.side-menu {
  background-color: #575555;
  color: #f5f5f5;
  padding: 16px 5%;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.list-unstyled li {
  word-wrap: break-word;
}

/* ------------------------------------------------------------- */
/*  404 page */
/* ------------------------------------------------------------- */

.error_page {
  height: 100vh;
  width: 100vw;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error_page #errorText {
  font-size: 22px;
  margin: 14px 0;
}

.error_page #errorLink {
  font-size: 20px;
  padding: 12px;
  border: 1px solid;
  color: #000;
  background-color: transparent;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

.error_page #errorLink:hover,
.error_page #errorLink:active {
  color: #fff;
  background: #000;
}

.error_page #g6219 {
  transform-origin: 85px 4px;
  -webkit-animation: cageMove 12s 0.5s infinite ease-out;
  animation: cageMove 12s 0.5s infinite ease-out;
}

@-webkit-keyframes cageMove {
  0% {
    transform: rotate(0);
  }

  5% {
    transform: rotate(3deg);
  }

  15% {
    transform: rotate(-2.5deg);
  }

  25% {
    transform: rotate(2deg);
  }

  35% {
    transform: rotate(-1.5deg);
  }

  45% {
    transform: rotate(1deg);
  }

  55% {
    transform: rotate(-1.5deg);
  }

  65% {
    transform: rotate(2deg);
  }

  75% {
    transform: rotate(-2deg);
  }

  85% {
    transform: rotate(2.5deg);
  }

  95% {
    transform: rotate(-3deg);
  }

  100% {
    transform: rotate(0);
  }
}

@keyframes cageMove {
  0% {
    transform: rotate(0);
  }

  5% {
    transform: rotate(3deg);
  }

  15% {
    transform: rotate(-2.5deg);
  }

  25% {
    transform: rotate(2deg);
  }

  35% {
    transform: rotate(-1.5deg);
  }

  45% {
    transform: rotate(1deg);
  }

  55% {
    transform: rotate(-1.5deg);
  }

  65% {
    transform: rotate(2deg);
  }

  75% {
    transform: rotate(-2deg);
  }

  85% {
    transform: rotate(2.5deg);
  }

  95% {
    transform: rotate(-3deg);
  }

  100% {
    transform: rotate(0);
  }
}
